<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated enterprise_architect -->
      <package
            uri="http://www.ds-lab.org/mdsd4sil/metamodel/ea"
            class="org.mdsd4sil.metamodel.enterprisearchitect.EnterpriseArchitectPackage"
            genModel="model/enterprise_architect.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated enterprise_architect -->
      <package
            uri="org.dslab.mdsd4sil.metamodel.ea.datatypes"
            class="org.mdsd4sil.metamodel.enterprisearchitect.datatypes.DatatypesPackage"
            genModel="model/enterprise_architect.genmodel"/>
   </extension>
</plugin>
